/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #5c87b2;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    color: rgb(51, 51, 51);
    font-size: 21px;
    font-weight: bold;
    margin: 0.7em 0px;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0 0px 0 0;
}

#sharpArchLogo 
{
	text-align: right;
}

p#logo, h1#logo
{
    font-weight: bold;
    font-size: 24px !important;
    padding: 10px 0;
    margin: 0;
    color: #FFF;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#logo a
{
    color: #FFF;
    text-decoration: none;
    font-size: 32px !important;
}

#mainContent
{
    padding: 30px 30px 15px 30px;
    background-color: #FFF;
    border-bottom: 3px groove #4b6f92;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

.columnsContainer
{
    position: relative;
}

.leftColumn
{
    width: 25%;
    margin-right: 4%;
    float: left;
}

.rightColumn
{
    float: right;
    width: 70%;
}

#footer
{
    color: #999;
    padding: 5px 0 0 0;
    border-top: 1px solid #5C87B2;
    text-align: center;
    line-height: normal;
}

#footer p
{
    padding: 5px 0;
    margin: 0;
}

/* MAIN MENU   
----------------------------------------------------------*/
ul#mainMenu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#mainMenu li
{
    display: inline;
    list-style: none;
}

ul#mainMenu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#mainMenu li a:hover
{
    background-color: #FFF;
    text-decoration: none;
}

ul#mainMenu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#mainMenu li.selected a
{
    background-color: #FFF;
    color: #000;
}

/* SIDE COLUMN LINKS & HEADINGS  
----------------------------------------------------------*/
.leftColumn ul
{
    margin: 0;
    padding: 0 0 30px 0;
}

.leftColumn ul li
{
    list-style: none;
    margin-top: 5px;
    line-height: normal;
}

.leftColumn ul li a
{
    list-style: none;
    padding: 5px;
    border: 1px solid #e8eef4;
    line-height: normal;
    display: block;
    text-decoration: none;
    background-color: #e8eef4;
    font-size: .9em;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

.leftColumn ul li a:hover
{
    text-decoration: none;
    background-color: #FFF;
    border-color: #e2e7ed;
}

.leftColumn ul li a:active
{
    text-decoration: none;
    background-color: #a6e2a6;
    border-color: #a6e2a6;
    color: #FFF;
}

.leftColumn h2
{
    font-size: 1.2em;
    padding: 5px;
    margin: 0px;
    border-color: #5C87B2;
    background-color: #5C87B2;
    color: #FFF;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}


/* CUSTOM  
----------------------------------------------------------*/
.ajax-loading
{
    background: url(/Content/images/ajax-loader.gif) no-repeat;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

/* TABLES 
----------------------------------------------------------*/
.table_title 
{
    border: 1px solid rgb(185, 185, 185);
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 10px 0px 0px 25px;
}

table {
	border-collapse: collapse;
} 

table td {
	vertical-align: top;
	display: table-cell;
	font-size: 14px;
}

table td.button {
	padding: 10px 3px 0px 3px;
	border-bottom: 1px solid rgb(213, 213, 213);
}

table td.single {
	padding: 10px 10px 8px 10px;
	font-weight: bold;
	border-bottom: 1px solid rgb(213, 213, 213);
}

.meta_info {
	color: rgb(136, 136, 136);
	font-size: 11px;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 1px;
}

.meta_more {
	color: rgb(136, 136, 136);
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 1px;
}

.rowHighlight {
    background-color: #eeeeee;
}

.helper_message {
	color: rgb(102, 102, 102);
	font-size: 11px;
	line-height: 15px;
}

.field-validation-error 
{
    display: block;
    color: rgb(172, 40, 36);
}   

table.form {
	border-collapse: collapse;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	width: 100%;
	border-color: gray;
	display: table;
}

table.form th 
{
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 10px 0px 0px 25px;
}

table.form th.subform 
{
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #eeeeee;
	font-size: 10px;
	font-weight: bold;
	height: 10px;
	padding: 0px 0px 0px 10px;
}

table.form td.subform {
	border-bottom: 1px solid rgb(221, 221, 221);
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	line-height: 2em;
	text-align: left;
	margin: 0px;
}

table.form td {
	border-bottom: 1px solid rgb(221, 221, 221);
	font-size: 12px;
	padding: 10px 5px 10px 0px;
	line-height: 2em;
	text-align: left;
	margin: 0px;
}

table.form td.label {
	color: rgb(102, 102, 102);
	vertical-align: top;
	width: 120px;
}

table.form td.required {
	font-weight: bold;
}

table.form td.field input {
	font-size: 12px;
	width: auto;
	border: 1px solid rgb(201, 201, 201);
}

table.form td.field input.big {
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
	width: 80%;
}

table.form td.field input.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

table.form td.field select.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

table.form td.field textarea.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

table.form td.field select  
{
    width: 300px;
    border: 1px solid rgb(201, 201, 201);
}

table.form td.field textarea  
{
    border: 1px solid rgb(201, 201, 201);
}

/* BUTTONS  
----------------------------------------------------------*/
.btn_container {
	overflow: hidden;
}

.btn_container a {
	text-decoration: none;
	color: rgb(102, 102, 102);
}

.floatr {
	float: right;
}

.btn {
	float: left;
	margin-right: 5px;
	padding-left: 3px;
}

.btn a {
	border: 0px none;
	color: rgb(17, 17, 17);
	font-family: 'Nimbus Sans L', Helvetica, Arial, Verdana, sans-serif;
	text-decoration: none;
	width: auto;
}

.btn input {
	border: 0px none;
	margin: 0px;
	overflow: visible;
	border-color: transparent;
	cursor: pointer;	
}

.btn_small_white {
	background: transparent url(/Content/Images/small-white-button.png) no-repeat scroll left top;
	height: 20px;
	font-family: Helvetica, Arial, 'Lucida Grande', Verdana, sans-serif;
	font-size: 10px;
}

.btn_small_white a {
	background: transparent url(/Content/Images/small-white-button.png) no-repeat scroll right top;
	line-height: 20px;
	padding: 0px 10px 2px 7px;
	display: block;
	width: auto;
	border: 0px none;
}

.btn_small_brown {
	background: transparent url(/Content/Images/small-brown-button.png) no-repeat scroll left top;
	height: 20px;
	font-family: Helvetica, Arial, 'Lucida Grande', Verdana, sans-serif;
	font-size: 10px;
}

.btn_small_brown a {
	background: transparent url(/Content/Images/small-brown-button.png) no-repeat scroll right top;
	line-height: 20px;
	padding: 0px 10px 2px 7px;
	display: block;
	width: auto;
	border: 0px none;
	color: rgb(255, 255, 255);
}

.btn_small_brown input {
	background: transparent url(/Content/Images/small-brown-button.png) no-repeat scroll right top;
	line-height: 0em;
	padding: 0px 10px 5px 7px;
    border: 0px none;
	color: rgb(255, 255, 255);
}

.btn_medium_brown {
	background: transparent url(/Content/Images/medium-brown-button.png) no-repeat scroll left top;
	height: 24px;
	font-size: 12px;
	font-weight: bold;
}

.btn_medium_brown a {
	background: transparent url(/Content/Images/medium-brown-button.png) no-repeat scroll right top;
	line-height: 24px;
	padding: 0px 10px 2px 7px;
	display: block;
	width: auto;
	border: 0px none;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.btn_container_footer {
	padding-left: 125px;
	margin-top: 15px;
	overflow: hidden;
}

.btn_normal_brown {
	background: url(/Content/Images/normal-brown-button.png) no-repeat scroll transparent;
	height: 30px;
	margin-right: 10px;
	padding-left: 10px;
}

.btn_normal_brown input {
	background: url(/Content/Images/normal-brown-button.png) no-repeat scroll right top;
	color: #fff;
	padding: 5px 15px 5px 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px;
}

.btn_normal_white {
	background: url(/Content/Images/normal-white-button.png) no-repeat scroll transparent;
	height: 30px;
	margin-right: 10px;
	padding-left: 10px;
}

.btn_normal_white a {
	background: url(/Content/Images/normal-white-button.png) no-repeat scroll right top;
	color: rgb(102, 102, 102);
	display: block;
	font-size: 14px;
	line-height: 29px;
	padding: 0px 15px 2px 5px;
}

.icon {
	padding-top: 2px;
	padding-right: 4px;
	float: left;
	width: 20px;
	border: 0px;
}

.message {
	border: 1px solid rgb(162, 212, 153);
	background-color: rgb(188, 223, 179);
	color: rgb(54, 109, 22);
	padding: 5px 0px 5px 20px;
	font-size: 12px;
	font-weight: bold;
	margin: 2px;
}

.errormessage {
	border: 1px solid rgb(208, 158, 158);
	background-color: rgb(219, 183, 183);
	color: rgb(172, 40, 36);
	padding: 5px 0px 5px 20px;
	font-size: 12px;
	font-weight: bold;
	margin: 2px
}

/* INPUTS 
----------------------------------------------------------*/
input {
  font-size: 12px;
  border: 1px solid #c9c9c9;
}
input .big {
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}
input .invalid {
  border: 1px solid #ac2824;
  background-color: #ffeeee;
}
.inputSearch { width: 200px; }
.inputSearchField {
  float: left;
  margin-right: 5px;
  padding-left: 3px;
}
.clearFieldBlurred {
  color: #666666;
  font-style: italic;
}
.clearFieldActive { color: #000000; }