body {
	margin: 0;
	font-family: Calibri, Helvetica, sans-serif;
	background: #CDCCB2 url(/Content/Images/pagina-bg.gif) 0 0 repeat-x;
}

/*---<cabecera>---*/

#cabecera {	
	width: 980px;
	height: 70px;
	margin: 0 auto;	
}

#titulo h1 {
	float: left;
	width: 600px;
	margin: 0;
}

#titulo h1 img {
	margin: 12px 0 0 10px;
}

#usuario p {
	float: left;
	width: 370px;
	margin: 0;
	padding: 25px 10px 0 0;
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
	color: #A34318;
}

#usuario p span {
	padding: 0 0 0 12px;
	background: transparent url(/Content/Images/usuario-icon.gif) 0 50% no-repeat;
	color: #fff;
}

#usuario p a {
	text-decoration: none;
	color: #CDCCB2;
}

#usuario p a:hover {
	color: #fff;
}

#seccion {
	width: 980px;	
	height: 60px;
	margin: 0 auto;
	background-color: #252525;
}

#tituloseccion h2 {
	float: left;
	margin: 0;
	padding: 15px 0 0 20px;
	font-size: 16pt;
	text-transform: uppercase;
	letter-spacing: 1pt;
	color: #fff;
}

#menu {
	float: right;
	margin: 2px 10px 0 0;
}

#menu ul li {
	display: inline;
	margin: 0 10px;
	font-size: 13pt;
	font-weight: bold;
}

#menu ul li a {
	text-decoration: none;
	color: #BA5C2B;
}

#menu ul li a:hover, #menu ul li a.selected {
	color: #fff;
}

#cuerpo {
	width: 980px;	
	margin: 0 auto;
}

#introduccion {
	margin: 10px 0 0 0;
	background-color: #BA5C2B;
}

#introduccion h3 {
	margin: 0;
	padding: 10px 20px 0 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	color: #fff;
}

#introduccion p {
	margin: 0;
	padding: 10px 20px;
	font-size: 11pt;
	line-height: 15pt;
	color: #fff;
}

#subcontenido {
	width: 980px;
	overflow: hidden;
	margin: 10px 0 0 0;
	background: #BA5C2B url(/Content/Images/subcontenido-bg.gif) 0 0 repeat-y;
}

#subcontenido h3 {
	margin: 0;
	padding: 10px 20px 0 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	color: #fff;
}

#subcontenido p {
	float: left;
	width: 660px;
	margin: 0;
	padding: 10px 20px;
	font-size: 11pt;
	line-height: 15pt;
	color: #fff;
}

/*---<botonzon>---*/

.botonzon {
	float: left;
	margin: 6px 0 0 82px;
	height: 28px;
}

.botonzon span {
	margin: 0;
	padding: 5px 9px 5px 10px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #252525;
	background: #363636 url(/Content/Images/botonzon-bg.gif) 0 bottom repeat-x;	
}

.botonzon span a {
	text-decoration: none;
	color: #fff;
}

/*---<border-radius>---*/
.botonzon span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

/*---<contenido>---*/

#contenido {
	width: 980px;
	margin: 10px 0 0 0;
	overflow: hidden;
	background: #fff url(/Content/Images/contenido-bg.gif) 0 0 repeat-y;
}

#textos {
	float: left;
	width: 680px;
}

#forma form {
	margin: 20px;
}

#forma h4 {
	margin: 0;
	padding: 15px 0;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1pt;
	border-top: 1px solid #EFF1E7;
	color: #555;
}

#forma p {
	margin: 0;
	padding: 15px 0;
	border-top: 1px solid #EFF1E7;
}

#forma label {
	float: left;
	width: 150px;
	margin: 0;
	padding: 3px 10px 0 0;	
	font-size: 11pt;
	line-height: 15pt;
	text-align: right;
	color: #555;
}

.input100 {
	width: 100px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

.input100-requerido {
	width: 100px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(/Content/Images/requerido-icon.gif) right 50% no-repeat;
}

.input250 {
	width: 250px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

.input250-requerido {
	width: 250px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(/Content/Images/requerido-icon.gif) right 50% no-repeat;
}

.input250-bold-requerido {
	width: 250px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background: transparent url(/Content/Images/requerido-icon.gif) right 50% no-repeat;
}

#forma select {
	width: 258px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

#forma span {
	margin: 0 10px;
	font-size: 11pt;
	line-height: 15pt;
	color: #CDCCB2;
}

.submit input {
	margin: 0 0 0 160px;
	padding: 5px 4px 5px 6px;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #A34318;
	background: #BA5C2B url(/Content/Images/boton-bg.gif) 0 bottom repeat-x;
	color: #fff;
}

/*---<border-radius>---*/
.submit input {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

.submit {
	font-size: 11pt;
	line-height: 15pt;
	color: #555;
}

.submit a {
	font-weight: bold;
	text-decoration: none;
	color: #BA5C2B;
}

/*---<barra>---*/

#barra {
	float: left;
	width: 299px;
	border-left: 1px solid #EFF1E7;
}

#asistente {
	margin-bottom: 10px;
}

#asistente h3 {
	margin: 0;
	padding: 20px 0 10px 20px;
	font-size: 13pt;
	font-weight: bold;
	line-height: 18pt;
	letter-spacing: 1pt;
	color: #BA5C2B;
}

#asistente p {
	margin: 0;
	padding: 0 20px 10px 20px;
	font-size: 10pt;
	line-height: 15pt;
	color: #555555;
}

/*---<pie>---*/

#pie {
	width: 980px;
	height: 70px;
	margin: 10px auto;
	background-color: #252525;
}

#copy {
	float: left;
	width: 680px;
}

#copy p {
	margin: 0;
	padding: 25px 0 0 20px;
	font-size: 10pt;
	font-weight: bold;
	line-height: 15pt;
	color: #BA5C2B;
}

#powered {
	float: left;
	width: 300px;
}

#powered p {
	margin: 0;
	padding: 25px 20px 0 0;
	font-size: 10pt;
	font-weight: bold;
	line-height: 15pt;
	text-align: right;
	color: #BA5C2B;
}

#powered p a {
	font-weight: bold;
	text-decoration: none;
	color: #CDCCB2;
}

#powered p a:hover {
	color: #fff;
}

/* ***************************************************************************
    OLD STYLES
*************************************************************************** */
.inputSearchField {
  float: left;
  margin-right: 5px;
  padding-left: 3px;
}

.clearFieldBlurred {
  color: #666666;
  font-style: italic;
}

.clearFieldActive { color: #000000; }

.message {
	border: 1px solid rgb(162, 212, 153);
	background-color: rgb(188, 223, 179);
	color: rgb(54, 109, 22);
	padding: 5px 0px 5px 20px;
	font-size: 12px;
	font-weight: bold;
	margin: 2px;
}

.errormessage {
	border: 1px solid rgb(208, 158, 158);
	background-color: rgb(219, 183, 183);
	color: rgb(172, 40, 36);
	padding: 5px 0px 5px 20px;
	font-size: 12px;
	font-weight: bold;
	margin: 2px
}

/* BUTTONS  
----------------------------------------------------------*/
.btn_container {
	overflow: hidden;
}

.btn_container a {
	text-decoration: none;
	color: rgb(102, 102, 102);
}

.floatr {
	float: right;
}

.floatl {
	float: left;
}

.btn {
	float: left;
	margin-right: 5px;
	padding-left: 3px;
}

.btn a {
	border: 0px none;
	color: rgb(17, 17, 17);
	font-family: 'Nimbus Sans L', Helvetica, Arial, Verdana, sans-serif;
	text-decoration: none;
	width: auto;
}

.btn input {
	border: 0px none;
	margin: 0px;
	overflow: visible;
	border-color: transparent;
	cursor: pointer;	
}

.btn_small_white {
	background: transparent url(/Content/Images/small-white-button.png) no-repeat scroll left top;
	height: 20px;
	font-family: Helvetica, Arial, 'Lucida Grande', Verdana, sans-serif;
	font-size: 10px;
}

.btn_small_white a {
	background: transparent url(/Content/Images/small-white-button.png) no-repeat scroll right top;
	line-height: 20px;
	padding: 0px 10px 2px 7px;
	display: block;
	width: auto;
	border: 0px none;
}

.btn_small_brown {
	background: transparent url(/Content/Images/small-brown-button.png) no-repeat scroll left top;
	height: 20px;
	font-family: Helvetica, Arial, 'Lucida Grande', Verdana, sans-serif;
	font-size: 10px;
}

.btn_small_brown a {
	background: transparent url(/Content/Images/small-brown-button.png) no-repeat scroll right top;
	line-height: 20px;
	padding: 0px 10px 2px 7px;
	display: block;
	width: auto;
	border: 0px none;
	color: rgb(255, 255, 255);
}

.btn_small_brown input {
	background: transparent url(/Content/Images/small-brown-button.png) no-repeat scroll right top;
	line-height: 0em;
	padding: 0px 10px 5px 7px;
    border: 0px none;
	color: rgb(255, 255, 255);
}

.btn_medium_brown {
	background: transparent url(/Content/Images/medium-brown-button.png) no-repeat scroll left top;
	height: 24px;
	font-size: 12px;
	font-weight: bold;
}

.btn_medium_brown a {
	background: transparent url(/Content/Images/medium-brown-button.png) no-repeat scroll right top;
	line-height: 24px;
	padding: 0px 10px 2px 7px;
	display: block;
	width: auto;
	border: 0px none;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.btn_container_footer {
	padding-left: 125px;
	margin-top: 15px;
	overflow: hidden;
}

.btn_normal_brown {
	background: url(/Content/Images/normal-brown-button.png) no-repeat scroll transparent;
	height: 30px;
	margin-right: 10px;
	padding-left: 10px;
}

.btn_normal_brown input {
	background: url(/Content/Images/normal-brown-button.png) no-repeat scroll right top;
	color: #fff;
	padding: 5px 15px 5px 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px;
}

.btn_normal_white {
	background: url(/Content/Images/normal-white-button.png) no-repeat scroll transparent;
	height: 30px;
	margin-right: 10px;
	padding-left: 10px;
}

.btn_normal_white a {
	background: url(/Content/Images/normal-white-button.png) no-repeat scroll right top;
	color: rgb(102, 102, 102);
	display: block;
	font-size: 14px;
	line-height: 29px;
	padding: 0px 15px 2px 5px;
}

/* TABLES 
----------------------------------------------------------*/
.table_title 
{
    border: 1px solid rgb(185, 185, 185);
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 10px 0px 0px 25px;
}

table {
	border-collapse: collapse;
} 

table td {
	vertical-align: top;
	display: table-cell;
	font-size: 14px;
}

table td.button {
	padding: 10px 3px 0px 3px;
	border-bottom: 1px solid rgb(213, 213, 213);
}

table td.single {
	padding: 10px 10px 8px 10px;
	font-weight: bold;
	border-bottom: 1px solid rgb(213, 213, 213);
}

.meta_info {
	color: rgb(136, 136, 136);
	font-size: 11px;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 1px;
}

.meta_more {
	color: rgb(136, 136, 136);
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 1px;
}

.rowHighlight {
    background-color: #eeeeee;
}

.helper_message {
	color: rgb(102, 102, 102);
	font-size: 11px;
	line-height: 15px;
}

.field-validation-error 
{
    display: block;
    color: rgb(172, 40, 36);
}   

table.form {
	border-collapse: collapse;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	width: 100%;
	border-color: gray;
	display: table;
}

table.form th 
{
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 10px 0px 0px 25px;
}

table.form th.subform 
{
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #eeeeee;
	font-size: 10px;
	font-weight: bold;
	height: 10px;
	padding: 0px 0px 0px 10px;
}

table.form td.subform {
	border-bottom: 1px solid rgb(221, 221, 221);
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	line-height: 2em;
	text-align: left;
	margin: 0px;
}

table.form td {
	border-bottom: 1px solid rgb(221, 221, 221);
	font-size: 12px;
	padding: 10px 5px 10px 0px;
	line-height: 2em;
	text-align: left;
	margin: 0px;
}

table.form td.label {
	color: rgb(102, 102, 102);
	vertical-align: top;
	width: 120px;
}

table.form td.required {
	font-weight: bold;
}

table.form td.field input {
	font-size: 12px;
	width: auto;
	border: 1px solid rgb(201, 201, 201);
}

table.form td.field input.big {
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
	width: 80%;
}

table.form td.field input.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

table.form td.field select.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

table.form td.field textarea.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

table.form td.field select  
{
    width: 300px;
    border: 1px solid rgb(201, 201, 201);
}

table.form td.field textarea  
{
    border: 1px solid rgb(201, 201, 201);
}

/* AJAX  
----------------------------------------------------------*/
.ajax-loading
{
    background: url(/Content/images/ajax-loader.gif) no-repeat;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}