body {
	margin: 0;
	font-family: Verdana,Geneva,sans-serif;
	background: #FDF4E5 none repeat scroll 0 0;
}

.body-sesion {
	margin: 0;
	font-family: Verdana,Geneva,sans-serif;
	background: #CDCCB2;
}

#pagina {
    margin:auto;
    width:980px;
}

h1, h2, h3, h4, h5 {
    margin:0;
    padding:0;
}

/*---<cabecera>---*/

#cabecera {	
	background-color:#BA5C2B;
    background-image:url(images/colef-logo.gif);
    background-position:right center;
    background-repeat:no-repeat;
    color:#FFFFFF;
    height:70px;
    width:980px;	
}

#cabecera p {
    float:left;
    font-size:18px;
    height:70px;
    line-height:70px;
    margin:0 10px 0 0;
    padding:0 0 0 40px;
    width:320px;
}

#cabecera h3 {
    color:#955942;
    float:left;
    font-size:32px;
    font-weight:100;
    line-height:70px;
}

#cabecera span {
    color:#D29D61;
}


#titulo h1 {
	float: left;
	width: 570px;
	margin: 0;
}

#titulo h1 img {
	margin: 12px 0 0 10px;
}

#usuario p {
	float: left;
	width: 400px;
	margin: 0;
	padding: 20px 10px 0 0;
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
	color: #A34318;
}

#usuario p span {
	padding: 0 0 0 12px;
	background: transparent url(./Images/usuario-icon.gif) 0 50% no-repeat;
	color: #fff;
}

#usuario p a {
	text-decoration: none;
	color: #CDCCB2;
}

#usuario p a:hover {
	color: #fff;
}

#seccion {
    background-color:#955942;
    float:left;
    height:75px;
    width:980px;
}

#seccion h1 {
    color:#FFFFFF;
    font-style:italic;
    font-weight:100;
    height:50px;
    line-height:50px;
    padding-left:40px;
}

#seccion h3 
{
    float:left;
    font-size:18px;
    height:70px;
    color:#D29D61;
    margin:0 10px 0 0;
    padding:0 0 0 40px;
    width:320px;
}

#seccion-sesion {
    width: 980px;	
	height: 10px;
	margin: 0 auto;
}

#tituloseccion h2 {
    background-color:#D29D61;
    color:#7C2C31;
    float:left;
    font-size:16pt;
    font-weight:100;
    margin-left:40px;
    padding:5px 14px;
    text-align:center;
    width:600px;
}

#menu {
    color:#FFFFFF;
    display:inline;
    float:right;
    font-size:14px;
    font-weight:bold;
    height:25px;
    line-height:25px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0 10px 0 0;
    text-align:right;
}

#menu li {
    display:inline;
}

#menu li a {
    color:#FFFFFF;
    margin-left:4px;
    margin-right:4px;
    text-decoration:none;
}

#menu li a:hover {
    color:#D29D61;
}

#menu ul {
    margin: 0;
    padding: 20px 0;
}

#menu ul li {
    display: inline;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 13pt;
    font-weight: bold;
}

#menu ul li a {
	text-decoration: none;
	color: #BA5C2B;
}

#menu ul li a:hover, #menu ul li a.selected {
	color: #fff;
}

.investigacion, .catalogos {
  display:none;
  width: 840px;
  height: 370px;
  top: 60px;
  right: 10px;
  background-color: #252525;
  position: absolute;
  color: #fff;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari */
  -moz-opacity:0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  filter:alpha(opacity=95);
}
.investigacion table {
  margin: 0;
  padding: 0;
}
.investigacion thead th {
  width: 100px;
  padding: 10px;
  margin: 0;
  font-size: 11pt;
  text-align: left;
  border-bottom: 1px solid #363636;
  background: transparent url(./Images/menu-bg.gif) 0 50% repeat-x;
}
.investigacion tbody td {
  margin: 0;
  width: 100px;
  padding: 10px;
  font-size: 11pt;
  border-bottom: 1px solid #363636;
}
.investigacion a {
    text-decoration: none;
    color: #CDCCB2;
}
.investigacion a:hover {
    color: #BA5C2B;
}

/*---<menu mario>---*/

#menu li ul {
	position: absolute;
	width: 150px;
	margin: 0;
	padding: 15px 0 0 0;
  	background: #252525 url(./Images/menu-triangulo.gif) 50% 1% no-repeat;
  	display: none;
}

#menu li ul#uno {
	margin: 0 0 0 20px;
}

#menu li ul#tres {
	margin: 0 0 0 200px;
}

#menu li:hover ul {
	display: block;
}

#menu li ul li {
  	display: block;
  	margin: 0 10px;
  	padding: 5px 0px;
  	border-top: 1px dotted #353535;
  	list-style-type: none;
	font-size: 11pt;
}

#menu li ul li:first-child {
	border-top: none;
}

#menu li ul li a {
 	display: block;
  	color: #ba5c2b;
}

#menu li ul li a:hover {
 	color: #fff;
}

#menu .last {
  	background: transparent none repeat scroll 0% 0%;
  	margin: 0px;
  	padding: 0px;
  	border: none;
  	position: relative;
  	border: none;
  	height: 0px;
}

#menu .corner_left {
  	position: absolute;
  	left: 0px;
  	top: 0px;
}

#menu .corner_right {
  	position: absolute;
  	left: 132px;
  	top: 0px;
}

#menu .middle {
  	position: absolute;
  	left: 18px;
  	height: 20px;
  	width: 115px;
  	top: 0px;
}

/*---<end menu mario>---*/

/*---<end slide>---*/

#slide h3 {
	font-size:14px;
	letter-spacing:-1px;
	color:#fff;
	font-weight: 700;
	text-transform:uppercase;
	margin:0;
	padding:8px 0 8px 0;
}

#slide.panel {
	position: fixed;
	top: 140px;
	right: 0;
	display: none;
	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	width: 250px;
	height: auto;
	padding: 30px 80px 30px 30px;
	filter: alpha(opacity=85);
	opacity: .85;
}

#slide.panel p{
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;
}

#slide.panel a, #slide.panel a:visited{
	margin: 0;
	padding: 0;
	color: #CDCCB2;
	text-decoration: none;
}

#slide.panel a:hover, #slide.panel a:visited:hover{
	margin: 0;
	padding: 0;
	color: #BA5C2B;
	text-decoration: none;
}

a.trigger{
	position: fixed;
	text-decoration: none;
	top: 180px; right: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 40px 20px;
	font-weight: 700;
	background:#333333 url(./Images/open.png) 55% 90% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

a.trigger:hover{
	position: fixed;
	text-decoration: none;
	top: 180px; right: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 40px 20px; /*20px 20px 20px 40px;*/
	font-weight: 700;
	background:#222222 url(./Images/open.png) 55% 90% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

a.active.trigger {
	background:#222222 url(./Images/close.png) 55% 90% no-repeat;
}

#slide ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#slide ul li{
	padding: 5px 0 5px 0;
	margin: 0;
	list-style-type: none;
}

/*---<end slide>---*/

#cuerpo {
    background-color:#FFFFFF;
    background-image:url(images/contenido-bg.jpg);
    background-position:center center;
    background-repeat:repeat-y;
    float:left;
    margin-top:10px;
    width:980px;
}

#bottomcuerpo {
    background-color:#FFFFFF;
    float:left;
    height:20px;
    width:980px;
}

#tituloseccion {
    background-color:#FFFFFF;
    height:40px;
    width:980px;
}

#introduccion {
	background-color:#BA5C2B;
    margin:auto;
    text-align:center;
    width:800px;
}

#introduccion h3 {
	margin: 0;
	padding: 10px 20px 0 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	color: #fff;
}

#introduccion p {
	margin: 0;
	padding: 10px 20px;
	font-size: 11pt;
	line-height: 15pt;
	color: #fff;
}

#subcontenido 
{
    width: 800px;
	margin:auto;
	overflow: hidden;
	background: #BA5C2B url(./Images/subcontenido-bg.gif) 0 0 repeat-y;
}

#subcontenido h3 {
	margin: 0;
	padding: 10px 20px 0 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	color: #fff;
}

#subcontenido p {
	float: left;
	width: 645px;
	margin: 0;
	padding: 10px 20px;
	font-size: 11pt;
	line-height: 15pt;
	color: #fff;
}

/*---<botonzon>---*/

.botonzon {
	float: left;
	margin: 6px 0 0 0;
	width: 110px;
	height: 28px;
	text-align: center;
}

.botonzon span {
	margin: 0;
	padding: 5px 9px 5px 10px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #252525;
	background: #363636 url(./Images/botonzon-bg.gif) 0 bottom repeat-x;	
}

.botonzon span a {
	text-decoration: none;
	color: #fff;
}

/*---<asistente-logo>---*/
.asistentelogo {
    float:left;
    height:20px;
    margin:-29px 0 0;
    text-align:center;
    width:290px;
}
/*---<border-radius>---*/
.botonzon span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

/*---<contenido>---*/

#contenido {
	width: 980px;
}

#ColumnaA {
    float:left;
    margin:auto;
    width:490px;
}

.FondoMenuLadoA {
    background-image:url(images/bg-ColumnaA.gif);
    background-position:right top;
    background-repeat:no-repeat;
}

#ColumnaB {
    float:left;
    margin:auto;
    width:490px;
}

.FondoMenuLadoB {
    background-image:url(images/bg-ColumnaB.gif);
    background-position:left top;
    background-repeat:repeat-y;
}

.modulo {
    clear:both;
    margin:auto 20px auto 25px;
    padding:10px 10px 20px;
    width:365px;
}

.modulo h1 {
    color:#955942;
    font-size:20px;
    padding-left:40px;
}

.modulo ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:5px 0 0;
    padding-left:40px;
}

.modulo li a {
    color:#333333;
    line-height:20px;
    text-decoration:none;
}

.modulo li a:hover {
    color:#955942;
    font-weight: bold;
    text-decoration:underline;
}

#textos {
	margin:10px;
    width:960px;
}

/*---<mensaje-error>---*/

.mensaje-error {
	margin: 20px 20px 0 20px;
	padding: 10px 20px;
	background-color: #ffb7bc;
	border: 1px solid #FF0000;
	font-size: 10pt;
	font-weight: bold;
	color: #9f1d20;
}

.mensaje-error p {
	margin: 0;
}

/*---<mensaje-acierto>---*/

.mensaje-acierto {
	background-color: #CCFFBB;
	margin: 20px 20px 0 20px;
	padding: 10px 20px;
	font-size: 10pt;
	font-weight: bold;
	color: #005502;
	border: 1px solid #00CC00;
}

.mensaje-acierto  p {
	margin: 0;
}

/*---<caja-busqueda>---*/

#caja-busqueda {
	margin: 20px 20px 0 20px;
	padding: 10px 20px;
	background: transparent url(./Images/caja-busqueda-bg.gif) 0 0 repeat-x;
	border: 1px solid #EFF1E7;
	text-align: center;
}

#caja-busqueda form {
	margin: 0;
}

.inputbusqueda {
	width: 250px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

a.editabusqueda {
	margin: 0 0 0 10px;
	padding: 5px 4px 5px 6px;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #A34318;
	background: #BA5C2B url(./Images/boton-bg.gif) 0 bottom repeat-x;
	color: #fff;
	cursor: pointer;
	font-size: 10pt;
	text-decoration: none;
}

.editabusqueda {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

/*---<lista>---*/

#lista {
	margin: 0 0 20px 0;
}

#lista h4 {
	margin: 0 20px;
	padding: 15px 0;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1pt;
	color: #555;
	border-bottom: 1px solid #EFF1E7;
	cursor:pointer;
	position:relative;
}

#lista h7 {
	margin: 0 20px;
	padding: 15px 0;
	font-size: 12pt;
	font-weight: bold;
	
	letter-spacing: 1pt;
	color: #555;
	border-bottom: 1px solid #EFF1E7;
	cursor:pointer;
	position:relative;
}

#lista h4 a {
	text-decoration: none;
	color: #555;
}

#lista h4 span.ui-icon {
	float:left;
	margin:2px;
}

#lista h4 span {
	 color:#999999;
	 font-size:10pt;
	 display:inline;
}

.elementolista {
	height: 120px;
	overflow: hidden;
	margin: 0 20px;
	border-bottom: 1px solid #EFF1E7;
}

.elementolista-dos {
	height: 120px; /* 67 */
	overflow: hidden;
	margin: 0 20px;
	background: transparent url(./Images/caja-busqueda-bg.gif) 0 0 repeat-x;
	border-bottom: 1px solid #EFF1E7;
}

.elementodescripcion {
	float: left;
	width: 465px;
	margin: 0 20px 0 0;
}

.elementodescripcion h5 {
	margin: 0;
	padding: 15px 0 5px 10px;
	font-size: 11pt;
	font-weight: normal;
	color: #555;
}

.elementodescripcion h5 span {
	text-transform: uppercase;
	font-weight: bold;
}

.elementodescripcion h6 {
	margin: 0;
	padding: 0 0 15px 10px;
	font-size: 8pt;
	color: #999;
}
/*
.ajax-loading, .no-ajax-loading {
	float: left;
	margin: 26px 5px 0 0;
    width: 16px;
    height: 16px;	
}

.ajax-loading {
	background: transparent url(./Images/ajax-loader.gif) 0 0 no-repeat;
}
*/
.elementobotones {
	float: left;
	margin: 6px 0 0 0;
}

.elementobotones span {
	margin: 0 0 0 1px;
	padding: 5px 9px 5px 10px;
	font-size: 10pt;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #252525;
	background: #363636 url(./Images/botonzon-bg.gif) 0 bottom repeat-x;	
}

.elementobotones span a {
	text-decoration: none;
	color: #fff;
}

.elementobotones span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

/*---<forma>---*/

#forma form, #campos {
	margin: 20px;
}

#forma h4 {
	margin: 0;
	padding: 15px 0;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1pt;
	border-top: 1px solid #EFF1E7;
	color: #555;
}

#forma h4 a {
	text-decoration: none;
	color: #555;
}

#forma h4 span.ui-icon {
	float:left;
	margin:2px;
}

#forma p.waiting {
    display:none;
    padding: 15px 0 0 170px;
}

#forma p.waiting span {
    font-weight: bold;
	text-decoration: none;
	color:#555555;
}

#forma p {
	margin: 0;
	padding: 15px 0;
	border-top: 1px solid #EFF1E7;
}

#forma label {
	float: left;
	width: 155px;
	margin: 0;
	padding: 3px 10px 0 0;	
	font-size: 11pt;
	line-height: 12pt;
	text-align: right;
	color: #555;
}

#forma label.right {
	float: none;
}

#forma h5 {
	margin: 0;
	padding: 5px 10px;
	font-size: 11pt;
	font-weight: bold;
	line-height:15pt;
	letter-spacing: 1pt;
	border-top: 1px solid #EFF1E7;
	color: #555;
}
.input100 {
	width: 100px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

.input100-requerido {
	width: 88px;
	padding: 3px 22px 3px 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(./Images/requerido-icon.gif) right 50% no-repeat;
}

.input250 {
	width: 250px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

.input250-requerido {
	width: 238px;
	padding: 3px 22px 3px 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(./Images/requerido-icon.gif) right 50% no-repeat;
}

.input250-bold-requerido {
	width: 238px;
	padding: 3px 22px 3px 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background: transparent url(./Images/requerido-icon.gif) right 50% no-repeat;
	color: #A34318;
}

.buscar {
    width: 420px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(./Images/buscar-icon.gif) right 50% no-repeat;
}

.buscar-requerido {
    width: 402px;
	padding: 3px 22px 3px 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(./Images/buscar-requerido-icon.gif) right 50% no-repeat;
}

.input420 {
	width: 420px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

.input420-requerido {
	width: 402px;
	padding: 3px 22px 3px 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(./Images/requerido-icon.gif) right 50% no-repeat;
}

.input420-bold-requerido {
	width: 402px;
	padding: 3px 22px 3px 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background: transparent url(./Images/requerido-icon.gif) right 50% no-repeat;
	color: #A34318;
}

#forma select {
	width: 428px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

#forma select.requerido {
	width: 428px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
	background: transparent url(./Images/select-requerido-icon.gif) right 50% no-repeat;
}

#forma select.requerido option {
	background-color: #fff;
}

.textarea420 {
	width: 420px;
	height: 80px;
	padding: 3px;
	border: 1px solid #555555;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 11pt;
}

.cvu {
    background: transparent url(./Images/cvu.gif) 50% no-repeat;
    height:12px;
    padding:0 12px;
    width:14px;
}

#forma span {
	margin: 0 5px; /* 10px */
	font-size: 11pt;
	line-height: 15pt;
	color: #CDCCB2;
}

#forma span.titulovalor {
	color:#555555;
	font-size:12pt;
	font-weight:bold;
	letter-spacing:1pt;
	text-transform:uppercase;
}

#forma span.valor {
    color:#555555;
    margin: 0 1px;
    font-weight:bold;
}

#forma span.valor a{
    color: #BA5C2B;
    font-weight:bold;
    text-decoration: none;
}

#forma span.valor a:hover, #forma span.valor a.selected {
	color: #555;
}

#forma span.field-validation-error {
	margin: 0 0 0 168px;
	color: #FF0000;
	display: block;
}

#forma span.field-alert {
	margin: 0 0 0 168px;
	color: #BA5C2B;
	display: block;
}

#forma span.field-alert-inline {
	margin: 0 0 0 10px;
	color: #BA5C2B;
	display: inline;
}

#forma .input-validation-error, #forma select.input-validation-error, #firmaform .input-validation-error, #firmaform select.input-validation-error {
	border: 1px solid #FF0000;
}

/*---<minilista>---*/

.minilista h5 {
	margin: 0;
	padding: 5px 10px;
	font-size: 11pt;
	font-weight: bold;
	line-height:15pt;
	letter-spacing: 1pt;
	background-color: #EFF1E7;
	color: #555;
}

.sublista h6, .sublista-dos h6 {
	margin: 0;
	padding: 5px 10px;
	font-size: 11pt;
	font-weight: normal;
	line-height:15pt;
	border-top: 1px solid #EFF1E7;
	color: #555;
} 

.sublista h6 img, .sublista-dos h6 img {
    border: none 0px;
    
}

.sublista h6 a, .sublista-dos h6 a {
    color: #BA5C2B;
    font-weight:bold;
    text-decoration: none;
    padding: 0px 2px 0px;
}

.sublista h6 a:hover, .sublista-dos h6 a.selected {
	color: #555;
}

.sublista-dos {
	background: transparent url(./Images/caja-busqueda-bg.gif) 0 0 repeat-x;
}

.minilistaboton p {
	color: #555;
}

.minilistaboton input {
	margin: 0 0 0 10px;
	padding: 5px 9px 5px 10px;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #252525;
	background: #363636 url(./Images/botonzon-bg.gif) 0 bottom repeat-x;
	color: #fff;
	cursor: pointer;
}

.minilistaboton input {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.minilistaboton span {
	margin: 0 0 0 10px;
	padding: 5px 9px 5px 10px;
	border: 1px solid #252525;
	background: #363636 url(./Images/botonzon-bg.gif) 0 bottom repeat-x;	
}

.minilistaboton span a {
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	letter-spacing: 1pt;
	color: #fff;
}

.minilistaboton span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

a.minilistacancelar {
	margin: 0 0 0 9px;
	font-weight: bold;
	text-decoration: none;
	color: #BA5C2B;
}

.submit input {
	margin: 0 0 0 160px;
	padding: 5px 4px 5px 6px;
	font-weight: bold;
	letter-spacing: 1pt;
	border: 1px solid #A34318;
	background: #BA5C2B url(./Images/boton-bg.gif) 0 bottom repeat-x;
	color: #fff;
	cursor: pointer;
}

/*---<border-radius>---*/
.submit input {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

.submit {
	font-size: 11pt;
	line-height: 15pt;
	color: #555;
	padding:15px 0 0 170px !important;
}

.submit a {
	font-weight: bold;
	text-decoration: none;
	color: #BA5C2B;
}

/*---<barra>---*/

#barra {
	float: left;
	width: 299px;
	border-left: 1px solid #EFF1E7;
}

#asistente {
	margin-bottom: 10px;
}

#asistente h3 {
	margin: 0;
	padding: 20px 0 10px 20px;
	font-size: 13pt;
	font-weight: bold;
	line-height: 18pt;
	letter-spacing: 1pt;
	color: #BA5C2B;
}

#asistente p {
	margin: 0;
	padding: 0 20px 10px 20px;
	font-size: 10pt;
	line-height: 15pt;
	color: #555555;
}

/*---<pie>---*/

#pie {
    background-color:#D29D61;
    float:left;
    height:35px;
    margin:30px auto 10px;
    width:980px;
}

#pie p {
    color:#FFFFFF;
    font-size:10pt;
    font-weight:bold;
    margin:0;
    padding:10px;
}

/* ***************************************************************************
    Clear Field
*************************************************************************** */
.inputSearchField {
  float: left;
  margin-right: 5px;
  padding-left: 3px;
}

.clearFieldBlurred {
  color: #666666;
  font-style: italic;
}

.clearFieldActive { color: #000000; }

/* AJAX  
----------------------------------------------------------*/
.ajax-loading
{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 5000;
    padding: 5px 5px 5px 30px;
    margin: 0 0 0 -37px;
    width: 150px;
    height: 18px;
    background: url(./images/ajax-loader.gif) no-repeat;
    background-position: 8px 8px;
    background-color: #252525;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border: solid 1px #FFFFFF;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: red;
    font-size: 150%;
    color: white;
    padding: 2px;
}

/* Uploadify */
div.progress_container {
  padding: 10px 0 10px 130px;
  display: none;
  width: 600px;
}
div.status_message {
  font-size: 12px;
  font-style: italic;
  line-height: 16px;
}
div.progress_bar {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #abd2e7;
  overflow: hidden;
  width: 400px;
}
div.progress_bar div.progress {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: transparent url(./images/upload_progress.gif) repeat-x scroll 0 0;
  border-right: 1px solid #abd2e7;
  height: 17px;
}
/*.uploadifyQueueItem { }
.uploadifyQueueItem img { }*/

/* curriculum */

#curriculum span {
	margin: 0 5px; /* 10px */
	font-size: 11pt;
	line-height: 15pt;
	color: #CDCCB2;
}

#curriculum span.tituloValor {
	color:#555555;
    margin: 0 1px;
    font-weight:bold;
}

#curriculum span.encabezadoValor {
	color:#555555;
    margin: 0 1px;
    font-weight:bold;
    font-size: 14pt;
}

#curriculum span.valor {
    color:#555555;
    margin: 0 1px;
}