<?xml version="1.0"?>
<nhv-configuration xmlns='urn:nhv-configuration-1.0'>
  <property name='apply_to_ddl'>false</property>
  <property name="message_interpolator_class">DecisionesInteligentes.Colef.Sia.Core.NHibernateValidator.SpanishMessageInterpolator, DecisionesInteligentes.Colef.Sia.Core</property>
  <property name='autoregister_listeners'>true</property>
  
  <mapping assembly='DecisionesInteligentes.Colef.Sia.Core'/>
</nhv-configuration>
